@import url('https://fonts.googleapis.com/css2?family=Lato');

*{
    margin:0;
    padding:0;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 2rem;
    background-color: #b0c2f2;
    min-height: 50px;
}
.box-img-header{
    height: 100%;
}
.img-logo{
    max-width: 95px;
    height: 100%;
}
 nav{
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
 }

 nav{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
 }
 .nav-links{
    text-decoration: none;
    color: black;
 }

 body{
    background-color: rgb(231, 203, 235);
    height: 100vh;
    font-family: "Lato";
 }

.box-bnt-actions{
    display: flex;
    gap: 1.2rem;
}
